<div id="life-peak-component">
    <perfect-scrollbar>

        <div class="title-container">
            <h1>
                4 đỉnh cao
            </h1>
        </div>

        <div *ngFor="let lp of lifePeaks; let i=index">
            <div class="description-container">
                <h2 (click)="lp.expanded = !lp.expanded">Đỉnh cao thứ {{i+1}} vào năm {{lp.age}} tuổi: số {{lp.number}}
                    <mat-icon *ngIf="!lp.expanded">keyboard_arrow_up</mat-icon>
                    <mat-icon *ngIf="lp.expanded">keyboard_arrow_down</mat-icon>
                </h2>

                <div *ngIf="lp.expanded">
                    <div class="description-paragraph" *ngFor="let des of lp.descriptions">
                        <p>{{des.content}}</p>
                    </div>
                </div>
            </div>
        </div>

    </perfect-scrollbar>
</div>