#life-peak-component {
    max-width: 700px;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;

    .title-container {
        text-align: center;
        margin-top: 42px;
    }

    .life-peak-container {
        text-align: center;
        padding: 14px;

        span {
            font-size: 72px;
            line-height: 72px;
        }
    }

    .description-container {
        padding: 14px;
        box-sizing: border-box;

        .mat-icon {
            vertical-align: sub;
        }

        h2 {
            text-align: center;
        }

        .description-paragraph {
            padding-bottom: 14px;

            p {
                text-align: justify;
            }
        }

    }
}