<div id="ruling-number-component">
    <perfect-scrollbar>

        <div class="title-container">
            <h1>
                Số Chủ đạo của bạn là
            </h1>
        </div>
        <div class="ruling-number-container">
            <span>{{dOB.rulingNumber.number}}</span>
        </div>
        <div class="description-container">
            <h2>Ý nghĩa Số Chủ đạo</h2>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let des of descriptions">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{des.type}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <pre>{{des.content}}</pre>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        
    </perfect-scrollbar>
</div>