<div id="app-component">
    <mat-drawer-container class="main-container" autosize>

      <div id="content">

        <perfect-scrollbar>
          <router-outlet></router-outlet>
        </perfect-scrollbar>

        <button class="nav-button" type="button" mat-fab color="primary"
          (click)="drawer.toggle(); showNavButton = false" *ngIf="showNavButton">
          <mat-icon>vertical_split</mat-icon>
        </button>

      </div>

      <mat-drawer #drawer class="main-sidenav" mode="push" position="end"
        (closedStart)="showNavButton = !showNavButton">

          <app-nav-bar class="max-height" (closeNav)="drawer.toggle()"></app-nav-bar>

      </mat-drawer>

    </mat-drawer-container>
</div>
