<div id="birth-chart-component">

    <perfect-scrollbar>

        <div class="title-container">
            <h1>Biểu đồ ngày sinh</h1>
        </div>
        <div class="birth-chart-container">
            <mat-grid-list cols="3" rowHeight="1:1">
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[3]}}<span class="name-numbers">{{nameNumbers[3]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[6]}}<span class="name-numbers">{{nameNumbers[6]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[9]}}<span class="name-numbers">{{nameNumbers[9]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[2]}}<span class="name-numbers">{{nameNumbers[2]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[5]}}<span class="name-numbers">{{nameNumbers[5]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[8]}}<span class="name-numbers">{{nameNumbers[8]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[1]}}<span class="name-numbers">{{nameNumbers[1]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[4]}}<span class="name-numbers">{{nameNumbers[4]}}</span>
                </mat-grid-tile>
                <mat-grid-tile class="birth-chart-cell">
                    {{dOB.birthChart.chart[7]}}<span class="name-numbers">{{nameNumbers[7]}}</span>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
        <div class="description-container">
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Tên thường dùng</mat-label>
                    <input matInput placeholder="Nhập tên mà bạn thường dùng hay được gọi" [(ngModel)]="name"
                        name="name" type="text">
                </mat-form-field>
                <button (click)="drawNameNumber()" mat-stroked-button color="accent">Điền tên</button>
                <button (click)="name = ''; drawNameNumber()" mat-stroked-button color="warn">Xóa tên</button>
            </form>
            <h1>Ý nghĩa biểu đồ</h1>
            <div *ngFor="let arrow of dOB.arrows">
                <h2>Mũi tên {{arrow.type == 'NEGATIVE' ? 'trống':''}} {{arrow.name}}</h2>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let des of arrow.descriptions">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{des.type}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <pre>{{des.content}}</pre>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>

            <div *ngFor="let number of chartNumbers">
                <h2>SỐ {{number.number}}</h2>
                <mat-accordion>
                    <mat-expansion-panel *ngFor="let des of number.descriptions">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{des.flexibleType}}
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <pre>{{des.content}}</pre>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
        </div>

    </perfect-scrollbar>

</div>